# Default owners for everything in the repo

- @what3words/front-end-team

# Hybrid product-team ownership

*.md @what3words/product @what3words/front-end-team
/packages/components/javascript/src/translations/ @what3words/product @what3words/front-end-team
/apps/demos/ @what3words/product @what3words/front-end-team
/apps/examples/components/ @what3words/product @what3words/front-end-team

# Tech-team ownership

/apps/examples/e2e/ @what3words/front-end-team
/.github/workflows/ @what3words/front-end-team
/packages/ @what3words/front-end-team
